<!doctype html>
<html>
<head>
    <title>Bitly Clone</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Add New Product</h1>
        <a href="/user/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

            <!-- product FORM -->
            <form action="/user/add-product" method="post">
                <div class="form-group">
                    <label>name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>description</label>
                    <input type="text" class="form-control" name="description">
                </div>
                <div class="form-group">
                    <label>price</label>
                    <input type="text" class="form-control" name="price">
                </div>
                <div class="form-group">
                    <label>specification</label>
                    <input type="text" class="form-control" name="specification">
                </div>
                <div class="form-group">
                    <label>discount</label>
                    <input type="text" class="form-control" name="discount">
                </div>
                <div class="form-group">
                    <label>tags</label>
                    <input type="text" class="form-control" name="tags">
                </div>
                <div class="form-group">
                    <label>category</label>
                    <input type="text" class="form-control" name="category">
                </div>
                <div class="form-group">
                    <label>variation</label><br>
                    <label>colour</label><br>
                    <input type="text" class="form-control" name="colour">
                    <label>stock</label><br>
                    <input type="text" class="form-control" name="stock">
                </div>
        
                <button type="submit" class="btn btn-warning btn-lg">Add</button>
            </form>

    </div>
</div>
</body>
</html>