<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>To shop please <a href='/signin'>sign in</a> to continue</p>
    <P>But if you does not have an account, </p>
    <p>please <a href='/signup'>sign up</a> before sign in</P>
  </body>
</html>
