<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/admin/profile"><i class="fa fa-dashboard fa-fw"></i> Profil</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Product<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                        <li>
                            <a href="/category-list">Category List</a>
                        </li>
                        <li>
                            <a href="/add-category">Add New Category</a>
                        </li>
                    <li>
                        <a href="/admin/product-list">Product list</a>
                    </li>
                    <li>
                        <a href="/add-product">Add New Product</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->