<!doctype html>
<html>
<head>
    <title>ECommerce</title>
    <% include user-head %>
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <% include user-header %>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.email %><br>
                        <strong>is admin</strong>: <%= user.isAdmin %>
                    </p>

            </div>
        </div>

    </div>
</div>
</body>
</html>