<div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Welcome, <%= user.email %></h1>
    <div class="btn-group dropdown">
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <a href="#" class="btn btn-default btn-sm">Add Category</a>
    <a href="#" class="btn btn-default btn-sm">All Category</a>
    <a href="#" class="btn btn-default btn-sm">Show All Product</a>
    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Based on Category
        <span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
                <% categoryMenu.forEach(function(row){ %>
                    <li><a href="/admin/product/<%= row._id %>"><%= row.brand %></a></li>
                <% }) %>
        </ul>
    </div>
</div>
